# Import and Reading Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
plt.style.use('ggplot')
# pd.set_option('max_columns', 200)

In [2]:
heart_rate_df = pd.read_csv('/Users/tien/Desktop/Smart_HMS/smart-health-monitoring-system/Model Training/Kaggle Data/heart_rate_data.csv')

# Data Understanding - Heart Rate Data

In [3]:
heart_rate_df.shape

(109486, 3)

In [4]:
heart_rate_df.head(5)

             Timestamp  Heart Rate          Source Name
0  2022-09-13 00:00:36     74.0000  Apple Watch SE 2020
1  2022-09-13 00:05:31     75.0000  Apple Watch SE 2020
2  2022-09-13 00:06:33     78.3673  Apple Watch SE 2020
3  2022-09-13 00:10:30     77.0000  Apple Watch SE 2020
4  2022-09-13 00:18:35     77.0000  Apple Watch SE 2020

In [5]:
heart_rate_df.columns

Index(['Timestamp', 'Heart Rate', 'Source Name'], dtype='object')

In [6]:
heart_rate_df.dtypes

Timestamp       object
Heart Rate     float64
Source Name     object
dtype: object

In [7]:
heart_rate_df.describe()

          Heart Rate
count  109486.000000
mean       89.394449
std        19.261271
min        40.000000
25%        74.000000
50%        90.000000
75%       103.000000
max       176.000000

# Data Preperation - Heart Rate Data

In [8]:
heart_rate_df.head()

             Timestamp  Heart Rate          Source Name
0  2022-09-13 00:00:36     74.0000  Apple Watch SE 2020
1  2022-09-13 00:05:31     75.0000  Apple Watch SE 2020
2  2022-09-13 00:06:33     78.3673  Apple Watch SE 2020
3  2022-09-13 00:10:30     77.0000  Apple Watch SE 2020
4  2022-09-13 00:18:35     77.0000  Apple Watch SE 2020

In [9]:
heart_rate_df.dtypes

Timestamp       object
Heart Rate     float64
Source Name     object
dtype: object

In [10]:
heart_rate_df['Timestamp'] = pd.to_datetime(heart_rate_df['Timestamp'])

In [11]:
heart_rate_df.dtypes

Timestamp      datetime64[ns]
Heart Rate            float64
Source Name            object
dtype: object

In [12]:
heart_rate_df.columns

Index(['Timestamp', 'Heart Rate', 'Source Name'], dtype='object')

In [13]:
# rename columns
heart_rate_df = heart_rate_df.rename(columns={'Timestamp': 'datetime',
                   'Heart Rate': 'heart_rate',
                   'Source Name': 'source_name'})

In [14]:
heart_rate_df.head()

             datetime  heart_rate          source_name
0 2022-09-13 00:00:36     74.0000  Apple Watch SE 2020
1 2022-09-13 00:05:31     75.0000  Apple Watch SE 2020
2 2022-09-13 00:06:33     78.3673  Apple Watch SE 2020
3 2022-09-13 00:10:30     77.0000  Apple Watch SE 2020
4 2022-09-13 00:18:35     77.0000  Apple Watch SE 2020

In [15]:
heart_rate_df.isna().sum()

datetime       0
heart_rate     0
source_name    0
dtype: int64

In [16]:
heart_rate_df.loc[heart_rate_df.duplicated()]

Empty DataFrame
Columns: [datetime, heart_rate, source_name]
Index: []

In [17]:
heart_rate_df["source_name"].unique()

array(['Apple Watch SE 2020', 'Apple Watch Ultra'], dtype=object)

# Data Understanding - Sleep Data

In [20]:
sleep_df = pd.read_csv('/Users/tien/Desktop/Smart_HMS/smart-health-monitoring-system/Model Training/Kaggle Data/sleep_data.csv')

In [21]:
sleep_df.shape

(8375, 6)

In [22]:
sleep_df.head(5)

,Start Time,End Time,Category,Timestamp,Heart Rate,Source Name
0,2022-09-13 01:47:49,2022-09-13 01:59:19,Light/Core,2022-09-13 01:46:47,64.0,Apple Watch SE 2020
1,2022-09-13 01:59:19,2022-09-13 02:04:49,Deep,2022-09-13 01:59:47,62.0,Apple Watch SE 2020
2,2022-09-13 02:04:49,2022-09-13 02:12:49,Light/Core,2022-09-13 02:05:44,64.0,Apple Watch SE 2020
3,2022-09-13 02:12:49,2022-09-13 02:27:19,Deep,2022-09-13 02:13:49,65.0,Apple Watch SE 2020
4,2022-09-13 02:27:19,2022-09-13 02:35:49,Light/Core,2022-09-13 02:24:49,64.0,Apple Watch SE 2020

In [27]:
sleep_df.columns

Index(['Start Time', 'End Time', 'Category', 'Timestamp', 'Heart Rate',
       'Source Name'],
      dtype='object')

In [29]:
sleep_df.dtypes

Start Time      object
End Time        object
Category        object
Timestamp       object
Heart Rate     float64
Source Name     object
dtype: object

In [28]:
sleep_df.describe()

        Heart Rate
count  8375.000000
mean     63.988471
std       5.974241
min      46.000000
25%      60.000000
50%      63.000000
75%      67.000000
max     143.000000

# Data Preperation - Sleep Data

In [33]:
sleep_df['Start Time'] = pd.to_datetime(sleep_df['Start Time'])
sleep_df['End Time'] = pd.to_datetime(sleep_df['End Time'])
sleep_df['Timestamp'] = pd.to_datetime(sleep_df['Timestamp'])

In [34]:
sleep_df.dtypes

Start Time     datetime64[ns]
End Time       datetime64[ns]
Category               object
Timestamp      datetime64[ns]
Heart Rate            float64
Source Name            object
dtype: object

In [36]:
sleep_df.head()

,Start Time,End Time,Category,Timestamp,Heart Rate,Source Name
0,2022-09-13 01:47:49,2022-09-13 01:59:19,Light/Core,2022-09-13 01:46:47,64.0,Apple Watch SE 2020
1,2022-09-13 01:59:19,2022-09-13 02:04:49,Deep,2022-09-13 01:59:47,62.0,Apple Watch SE 2020
2,2022-09-13 02:04:49,2022-09-13 02:12:49,Light/Core,2022-09-13 02:05:44,64.0,Apple Watch SE 2020
3,2022-09-13 02:12:49,2022-09-13 02:27:19,Deep,2022-09-13 02:13:49,65.0,Apple Watch SE 2020
4,2022-09-13 02:27:19,2022-09-13 02:35:49,Light/Core,2022-09-13 02:24:49,64.0,Apple Watch SE 2020

In [37]:
# rename columns
sleep_df = sleep_df.rename(columns={'Start Time': 'start_name',
                   'End Time': 'end_time',
                   'Category': 'category',
                   'Timestamp': 'datetime',
                   'Heart Rate': 'heart_rate',
                   'Source Name': 'source_name',
                   })

In [38]:
sleep_df.head()

,start_name,end_time,category,datetime,heart_rate,source_name
0,2022-09-13 01:47:49,2022-09-13 01:59:19,Light/Core,2022-09-13 01:46:47,64.0,Apple Watch SE 2020
1,2022-09-13 01:59:19,2022-09-13 02:04:49,Deep,2022-09-13 01:59:47,62.0,Apple Watch SE 2020
2,2022-09-13 02:04:49,2022-09-13 02:12:49,Light/Core,2022-09-13 02:05:44,64.0,Apple Watch SE 2020
3,2022-09-13 02:12:49,2022-09-13 02:27:19,Deep,2022-09-13 02:13:49,65.0,Apple Watch SE 2020
4,2022-09-13 02:27:19,2022-09-13 02:35:49,Light/Core,2022-09-13 02:24:49,64.0,Apple Watch SE 2020

In [39]:
heart_rate_df.isna().sum()

datetime       0
heart_rate     0
source_name    0
dtype: int64

In [40]:
heart_rate_df.loc[heart_rate_df.duplicated()]

Empty DataFrame
Columns: [datetime, heart_rate, source_name]
Index: []